<% if_p("syslog_aggregator.address", "syslog_aggregator.port") do %>
<%
  require 'digest'
  job_ip = spec.networks.send(spec.networks.methods(false).first).ip
  job_ip_md5sum = Digest::MD5.hexdigest(job_ip)
%>

$MaxMessageSize 8k # default is 2k
$WorkDirectory /var/spool/rsyslog
module(load="imfile" PollingInterval="10")

input(type="imfile"
      File="/var/vcap/sys/log/rabbitmq-server/rabbit@<%= job_ip_md5sum %>.log"
      StateFile="rabbit.log.statefile"
      Tag="rabbitmq")

input(type="imfile"
      File="/var/vcap/sys/log/rabbitmq-server/rabbit@<%= job_ip_md5sum %>-sasl.log"
      StateFile="rabbitsasl.log.statefile"
      Tag="rabbitmq_sasl")

input(type="imfile"
      File="/var/vcap/sys/log/rabbitmq-server/startup_stderr.log"
      StateFile="startup_err.log.statefile"
      Tag="rabbitmq_startup_stderr")

input(type="imfile"
      File="/var/vcap/sys/log/rabbitmq-server/startup_stdout.log"
      StateFile="startup_out.log.statefile"
      Tag="rabbitmq_startup_stdout")

template(name="CfLogTemplate" type="list") {
        constant(value="<")
        property(name="pri")
        constant(value=">")
        property(name="timestamp" dateFormat="rfc3339")
        constant(value=" <%= job_ip %> ")
        property(name="programname")
        constant(value=" [job=<%= name %> index=<%= spec.index.to_i %>] ")
        property(name="msg")
}

# http://www.rsyslog.com/doc/v7-stable/configuration/actions.html: @ = UDP, @@ = TCP
*.* @@<%= p("syslog_aggregator.address") %>:<%= p("syslog_aggregator.port") %>;CfLogTemplate

<% end %>
